[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==3.2.11"
gunicorn = "*"
pytest-django = "*"
python-decouple = "*"
dj-database-url = "*"
psycopg2-binary = "*"
Collectfast = "*"
pytest = "*"
codecov = "*"
django = "*"

[dev-packages]
flake8 = "*"
pytest-cov = "*"
codecov = "*"
sync = "*"

[requires]
python_version = "3.9"
